.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 500px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggleSection {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.toggleBox {
  width: 60px;
}
.selector {
  width: 33%;
  height: 100%;
  display: block;
}
